<div class="page" data-name="main">
    <!-- Top Navbar -->
    <div class="navbar navbar-main">
        <div class="navbar-inner">
            <div class="title sliding title-font" >Test</div>
            <div class="right">
                <a href="#" class="icon-only panel-open"data-panel="right">
                    <i class="icon f7-icons ">menu</i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        test {{DemoVAR}} <button onclick="{{Fuction}}" class="btn btn-primary">test</button>
        <textarea style="width:100px; height: 100px">sadsadsadsad</textarea>
    </div>
</div>